**/bin/
**/obj/
**/.vs/
**/.vscode/
**/node_modules/
*.log
*.txt
build.log
build3.log
build_output.txt
ef.log
error_log.txt
run_log.txt
run_log_fg.txt
.git
.gitignore
.gitattributes
Dockerfile
docker-compose*.yml
.dockerignore
README.md
